.net 5/appLisContribuyenteComprobantes/UI/Connected Services/ServicioWeb/BD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getContribuyentes">
        <s:complexType />
      </s:element>
      <s:element name="getContribuyentesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getContribuyentesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getComprobantes">
        <s:complexType />
      </s:element>
      <s:element name="getComprobantesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getComprobantesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getContribuyentesSoapIn">
    <wsdl:part name="parameters" element="tns:getContribuyentes" />
  </wsdl:message>
  <wsdl:message name="getContribuyentesSoapOut">
    <wsdl:part name="parameters" element="tns:getContribuyentesResponse" />
  </wsdl:message>
  <wsdl:message name="getComprobantesSoapIn">
    <wsdl:part name="parameters" element="tns:getComprobantes" />
  </wsdl:message>
  <wsdl:message name="getComprobantesSoapOut">
    <wsdl:part name="parameters" element="tns:getComprobantesResponse" />
  </wsdl:message>
  <wsdl:portType name="BDSoap">
    <wsdl:operation name="getContribuyentes">
      <wsdl:input message="tns:getContribuyentesSoapIn" />
      <wsdl:output message="tns:getContribuyentesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getComprobantes">
      <wsdl:input message="tns:getComprobantesSoapIn" />
      <wsdl:output message="tns:getComprobantesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BDSoap" type="tns:BDSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getContribuyentes">
      <soap:operation soapAction="http://tempuri.org/getContribuyentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComprobantes">
      <soap:operation soapAction="http://tempuri.org/getComprobantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BDSoap12" type="tns:BDSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getContribuyentes">
      <soap12:operation soapAction="http://tempuri.org/getContribuyentes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComprobantes">
      <soap12:operation soapAction="http://tempuri.org/getComprobantes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BD">
    <wsdl:port name="BDSoap" binding="tns:BDSoap">
      <soap:address location="https://localhost:44339/BD.asmx" />
    </wsdl:port>
    <wsdl:port name="BDSoap12" binding="tns:BDSoap12">
      <soap12:address location="https://localhost:44339/BD.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>